html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #515151;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  vertical-align: middle; }

.inline {
  display: inline; }

i,
b,
span {
  font-weight: normal;
  font-style: normal; }

input,
textarea {
  outline: none; }

button {
  outline-style: none; }

p {
  margin-bottom: 0; }

.r-c-black {
  color: #000; }

.r-bg-black {
  background-color: #000; }

.r-c-white {
  color: #fff; }

.r-bg-white {
  background-color: #fff; }

.r-c-primary {
  color: #0089fa; }

.r-bg-primary {
  background-color: #0089fa; }

.r-c-success {
  color: #67c23a; }

.r-bg-success {
  background-color: #67c23a; }

.r-c-warning {
  color: #f90; }

.r-bg-warning {
  background-color: #f90; }

.r-c-error {
  color: #e63e35; }

.r-bg-error {
  background-color: #e63e35; }

.r-c-gray {
  color: #909399; }

.r-bg-gray {
  background-color: #909399; }

.r-c-ccc {
  color: #ccc; }

.r-bg-ccc {
  background-color: #ccc; }

.r-c-f1 {
  color: #f1f1f1; }

.r-bg-f1 {
  background-color: #f1f1f1; }

.r-c-f2 {
  color: #f2f2f2; }

.r-bg-f2 {
  background-color: #f2f2f2; }

.r-c-f5 {
  color: #f5f5f5; }

.r-bg-f5 {
  background-color: #f5f5f5; }

.r-c-333 {
  color: #333; }

.r-bg-333 {
  background-color: #333; }

.r-c-666 {
  color: #666; }

.r-bg-666 {
  background-color: #666; }

.r-c-999 {
  color: #999; }

.r-bg-999 {
  background-color: #999; }

.r-fs-12 {
  font-size: 12px; }

.r-fs-13 {
  font-size: 13px; }

.r-fs-14 {
  font-size: 14px; }

.r-fs-15 {
  font-size: 15px; }

.r-fs-16 {
  font-size: 16px; }

.r-fs-18 {
  font-size: 18px; }

.r-fs-20 {
  font-size: 20px; }

.r-fs-22 {
  font-size: 22px; }

.r-fs-24 {
  font-size: 24px; }

.r-fs-26 {
  font-size: 26px; }

.r-fs-28 {
  font-size: 28px; }

.r-fs-30 {
  font-size: 30px; }

.r-fs-32 {
  font-size: 32px; }

.r-fs-36 {
  font-size: 36px; }

.r-fs-40 {
  font-size: 40px; }

.r-fw-400 {
  font-weight: 400; }

.r-fw-500 {
  font-weight: 500; }

.r-fw-600 {
  font-weight: 600; }

.r-fw-700 {
  font-weight: 700; }

.r-lh-14 {
  line-height: 14px; }

.r-lh-16 {
  line-height: 16px; }

.r-lh-18 {
  line-height: 18px; }

.r-lh-20 {
  line-height: 20px; }

.r-lh-24 {
  line-height: 24px; }

.r-lh-26 {
  line-height: 26px; }

.r-lh-28 {
  line-height: 28px; }

.r-lh-30 {
  line-height: 30px; }

.r-lh-32 {
  line-height: 32px; }

.r-lh-36 {
  line-height: 36px; }

.r-lh-40 {
  line-height: 40px; }

.r-lh-48 {
  line-height: 48px; }

.r-lh-56 {
  line-height: 56px; }

.r-flex {
  display: flex; }

.r-fd-c {
  flex-direction: column; }

.r-fd-cr {
  flex-direction: column-reverse; }

.r-fd-r {
  flex-direction: row; }

.r-fd-rr {
  flex-direction: row-reverse; }

.r-fw-w {
  flex-wrap: wrap; }

.r-fw-n {
  flex-wrap: nowrap; }

.r-fw-wr {
  flex-wrap: wrap-reverse; }

.r-jc-fs {
  justify-content: flex-start; }

.r-jc-fe {
  justify-content: flex-end; }

.r-jc-c {
  justify-content: center; }

.r-jc-sb {
  justify-content: space-between; }

.r-jc-sa {
  justify-content: space-around; }

.r-ai-fs {
  align-items: flex-start; }

.r-ai-fe {
  align-items: flex-end; }

.r-ai-c {
  align-items: center; }

.r-ai-b {
  align-items: baseline; }

.r-ai-s {
  align-items: stretch; }

.r-ac-fs {
  align-content: flex-start; }

.r-ac-fe {
  align-content: flex-end; }

.r-ac-c {
  align-content: center; }

.r-ac-sb {
  align-content: space-between; }

.r-ac-sa {
  align-content: space-around; }

.r-ac-s {
  align-content: stretch; }

.r-as-a {
  align-self: auto; }

.r-as-fs {
  align-self: flex-start; }

.r-as-fe {
  align-self: flex-end; }

.r-as-c {
  align-self: center; }

.r-as-b {
  align-self: baseline; }

.r-as-s {
  align-self: stretch; }

.r-flex-1 {
  flex: 1; }

.r-flex-2 {
  flex: 2; }

.r-flex-3 {
  flex: 3; }

.r-full {
  flex: 0 0 100%; }

.r-1of2 {
  flex: 0 0 50%; }

.r-1of3 {
  flex: 0 0 33.33333333%; }

.r-2of3 {
  flex: 0 0 66.66666666%; }

.r-1of4 {
  flex: 0 0 25%; }

.r-3of4 {
  flex: 0 0 75%; }

.r-1of5 {
  flex: 0 0 20%; }

.r-2of5 {
  flex: 0 0 40%; }

.r-3of5 {
  flex: 0 0 60%; }

.r-4of5 {
  flex: 0 0 80%; }

.r-mt-0 {
  margin-top: 0px; }

.r-mr-0 {
  margin-right: 0px; }

.r-mb-0 {
  margin-bottom: 0px; }

.r-ml-0 {
  margin-left: 0px; }

.r-m-0 {
  margin: 0px; }

.r-m-lr-0 {
  margin-left: 0px;
  margin-right: 0px; }

.r-m-tb-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.r-mt-2 {
  margin-top: 2px; }

.r-mr-2 {
  margin-right: 2px; }

.r-mb-2 {
  margin-bottom: 2px; }

.r-ml-2 {
  margin-left: 2px; }

.r-m-2 {
  margin: 2px; }

.r-m-lr-2 {
  margin-left: 2px;
  margin-right: 2px; }

.r-m-tb-2 {
  margin-top: 2px;
  margin-bottom: 2px; }

.r-mt-4 {
  margin-top: 4px; }

.r-mr-4 {
  margin-right: 4px; }

.r-mb-4 {
  margin-bottom: 4px; }

.r-ml-4 {
  margin-left: 4px; }

.r-m-4 {
  margin: 4px; }

.r-m-lr-4 {
  margin-left: 4px;
  margin-right: 4px; }

.r-m-tb-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.r-mt-5 {
  margin-top: 5px; }

.r-mr-5 {
  margin-right: 5px; }

.r-mb-5 {
  margin-bottom: 5px; }

.r-ml-5 {
  margin-left: 5px; }

.r-m-5 {
  margin: 5px; }

.r-m-lr-5 {
  margin-left: 5px;
  margin-right: 5px; }

.r-m-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.r-mt-6 {
  margin-top: 6px; }

.r-mr-6 {
  margin-right: 6px; }

.r-mb-6 {
  margin-bottom: 6px; }

.r-ml-6 {
  margin-left: 6px; }

.r-m-6 {
  margin: 6px; }

.r-m-lr-6 {
  margin-left: 6px;
  margin-right: 6px; }

.r-m-tb-6 {
  margin-top: 6px;
  margin-bottom: 6px; }

.r-mt-8 {
  margin-top: 8px; }

.r-mr-8 {
  margin-right: 8px; }

.r-mb-8 {
  margin-bottom: 8px; }

.r-ml-8 {
  margin-left: 8px; }

.r-m-8 {
  margin: 8px; }

.r-m-lr-8 {
  margin-left: 8px;
  margin-right: 8px; }

.r-m-tb-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.r-mt-10 {
  margin-top: 10px; }

.r-mr-10 {
  margin-right: 10px; }

.r-mb-10 {
  margin-bottom: 10px; }

.r-ml-10 {
  margin-left: 10px; }

.r-m-10 {
  margin: 10px; }

.r-m-lr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.r-m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.r-mt-12 {
  margin-top: 12px; }

.r-mr-12 {
  margin-right: 12px; }

.r-mb-12 {
  margin-bottom: 12px; }

.r-ml-12 {
  margin-left: 12px; }

.r-m-12 {
  margin: 12px; }

.r-m-lr-12 {
  margin-left: 12px;
  margin-right: 12px; }

.r-m-tb-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.r-mt-14 {
  margin-top: 14px; }

.r-mr-14 {
  margin-right: 14px; }

.r-mb-14 {
  margin-bottom: 14px; }

.r-ml-14 {
  margin-left: 14px; }

.r-m-14 {
  margin: 14px; }

.r-m-lr-14 {
  margin-left: 14px;
  margin-right: 14px; }

.r-m-tb-14 {
  margin-top: 14px;
  margin-bottom: 14px; }

.r-mt-15 {
  margin-top: 15px; }

.r-mr-15 {
  margin-right: 15px; }

.r-mb-15 {
  margin-bottom: 15px; }

.r-ml-15 {
  margin-left: 15px; }

.r-m-15 {
  margin: 15px; }

.r-m-lr-15 {
  margin-left: 15px;
  margin-right: 15px; }

.r-m-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.r-mt-16 {
  margin-top: 16px; }

.r-mr-16 {
  margin-right: 16px; }

.r-mb-16 {
  margin-bottom: 16px; }

.r-ml-16 {
  margin-left: 16px; }

.r-m-16 {
  margin: 16px; }

.r-m-lr-16 {
  margin-left: 16px;
  margin-right: 16px; }

.r-m-tb-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.r-mt-18 {
  margin-top: 18px; }

.r-mr-18 {
  margin-right: 18px; }

.r-mb-18 {
  margin-bottom: 18px; }

.r-ml-18 {
  margin-left: 18px; }

.r-m-18 {
  margin: 18px; }

.r-m-lr-18 {
  margin-left: 18px;
  margin-right: 18px; }

.r-m-tb-18 {
  margin-top: 18px;
  margin-bottom: 18px; }

.r-mt-20 {
  margin-top: 20px; }

.r-mr-20 {
  margin-right: 20px; }

.r-mb-20 {
  margin-bottom: 20px; }

.r-ml-20 {
  margin-left: 20px; }

.r-m-20 {
  margin: 20px; }

.r-m-lr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.r-m-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.r-mt-22 {
  margin-top: 22px; }

.r-mr-22 {
  margin-right: 22px; }

.r-mb-22 {
  margin-bottom: 22px; }

.r-ml-22 {
  margin-left: 22px; }

.r-m-22 {
  margin: 22px; }

.r-m-lr-22 {
  margin-left: 22px;
  margin-right: 22px; }

.r-m-tb-22 {
  margin-top: 22px;
  margin-bottom: 22px; }

.r-mt-24 {
  margin-top: 24px; }

.r-mr-24 {
  margin-right: 24px; }

.r-mb-24 {
  margin-bottom: 24px; }

.r-ml-24 {
  margin-left: 24px; }

.r-m-24 {
  margin: 24px; }

.r-m-lr-24 {
  margin-left: 24px;
  margin-right: 24px; }

.r-m-tb-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.r-mt-26 {
  margin-top: 26px; }

.r-mr-26 {
  margin-right: 26px; }

.r-mb-26 {
  margin-bottom: 26px; }

.r-ml-26 {
  margin-left: 26px; }

.r-m-26 {
  margin: 26px; }

.r-m-lr-26 {
  margin-left: 26px;
  margin-right: 26px; }

.r-m-tb-26 {
  margin-top: 26px;
  margin-bottom: 26px; }

.r-mt-28 {
  margin-top: 28px; }

.r-mr-28 {
  margin-right: 28px; }

.r-mb-28 {
  margin-bottom: 28px; }

.r-ml-28 {
  margin-left: 28px; }

.r-m-28 {
  margin: 28px; }

.r-m-lr-28 {
  margin-left: 28px;
  margin-right: 28px; }

.r-m-tb-28 {
  margin-top: 28px;
  margin-bottom: 28px; }

.r-mt-30 {
  margin-top: 30px; }

.r-mr-30 {
  margin-right: 30px; }

.r-mb-30 {
  margin-bottom: 30px; }

.r-ml-30 {
  margin-left: 30px; }

.r-m-30 {
  margin: 30px; }

.r-m-lr-30 {
  margin-left: 30px;
  margin-right: 30px; }

.r-m-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.r-mt-32 {
  margin-top: 32px; }

.r-mr-32 {
  margin-right: 32px; }

.r-mb-32 {
  margin-bottom: 32px; }

.r-ml-32 {
  margin-left: 32px; }

.r-m-32 {
  margin: 32px; }

.r-m-lr-32 {
  margin-left: 32px;
  margin-right: 32px; }

.r-m-tb-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.r-mt-36 {
  margin-top: 36px; }

.r-mr-36 {
  margin-right: 36px; }

.r-mb-36 {
  margin-bottom: 36px; }

.r-ml-36 {
  margin-left: 36px; }

.r-m-36 {
  margin: 36px; }

.r-m-lr-36 {
  margin-left: 36px;
  margin-right: 36px; }

.r-m-tb-36 {
  margin-top: 36px;
  margin-bottom: 36px; }

.r-mt-40 {
  margin-top: 40px; }

.r-mr-40 {
  margin-right: 40px; }

.r-mb-40 {
  margin-bottom: 40px; }

.r-ml-40 {
  margin-left: 40px; }

.r-m-40 {
  margin: 40px; }

.r-m-lr-40 {
  margin-left: 40px;
  margin-right: 40px; }

.r-m-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.r-mt-48 {
  margin-top: 48px; }

.r-mr-48 {
  margin-right: 48px; }

.r-mb-48 {
  margin-bottom: 48px; }

.r-ml-48 {
  margin-left: 48px; }

.r-m-48 {
  margin: 48px; }

.r-m-lr-48 {
  margin-left: 48px;
  margin-right: 48px; }

.r-m-tb-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.r-pt-0 {
  padding-top: 0px; }

.r-pr-0 {
  padding-right: 0px; }

.r-pb-0 {
  padding-bottom: 0px; }

.r-pl-0 {
  padding-left: 0px; }

.r-pd-0 {
  padding: 0px; }

.r-pd-lr-0 {
  padding-left: 0px;
  padding-right: 0px; }

.r-pd-tb-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.r-pt-2 {
  padding-top: 2px; }

.r-pr-2 {
  padding-right: 2px; }

.r-pb-2 {
  padding-bottom: 2px; }

.r-pl-2 {
  padding-left: 2px; }

.r-pd-2 {
  padding: 2px; }

.r-pd-lr-2 {
  padding-left: 2px;
  padding-right: 2px; }

.r-pd-tb-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.r-pt-4 {
  padding-top: 4px; }

.r-pr-4 {
  padding-right: 4px; }

.r-pb-4 {
  padding-bottom: 4px; }

.r-pl-4 {
  padding-left: 4px; }

.r-pd-4 {
  padding: 4px; }

.r-pd-lr-4 {
  padding-left: 4px;
  padding-right: 4px; }

.r-pd-tb-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.r-pt-5 {
  padding-top: 5px; }

.r-pr-5 {
  padding-right: 5px; }

.r-pb-5 {
  padding-bottom: 5px; }

.r-pl-5 {
  padding-left: 5px; }

.r-pd-5 {
  padding: 5px; }

.r-pd-lr-5 {
  padding-left: 5px;
  padding-right: 5px; }

.r-pd-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.r-pt-6 {
  padding-top: 6px; }

.r-pr-6 {
  padding-right: 6px; }

.r-pb-6 {
  padding-bottom: 6px; }

.r-pl-6 {
  padding-left: 6px; }

.r-pd-6 {
  padding: 6px; }

.r-pd-lr-6 {
  padding-left: 6px;
  padding-right: 6px; }

.r-pd-tb-6 {
  padding-top: 6px;
  padding-bottom: 6px; }

.r-pt-8 {
  padding-top: 8px; }

.r-pr-8 {
  padding-right: 8px; }

.r-pb-8 {
  padding-bottom: 8px; }

.r-pl-8 {
  padding-left: 8px; }

.r-pd-8 {
  padding: 8px; }

.r-pd-lr-8 {
  padding-left: 8px;
  padding-right: 8px; }

.r-pd-tb-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.r-pt-10 {
  padding-top: 10px; }

.r-pr-10 {
  padding-right: 10px; }

.r-pb-10 {
  padding-bottom: 10px; }

.r-pl-10 {
  padding-left: 10px; }

.r-pd-10 {
  padding: 10px; }

.r-pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.r-pd-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.r-pt-12 {
  padding-top: 12px; }

.r-pr-12 {
  padding-right: 12px; }

.r-pb-12 {
  padding-bottom: 12px; }

.r-pl-12 {
  padding-left: 12px; }

.r-pd-12 {
  padding: 12px; }

.r-pd-lr-12 {
  padding-left: 12px;
  padding-right: 12px; }

.r-pd-tb-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.r-pt-14 {
  padding-top: 14px; }

.r-pr-14 {
  padding-right: 14px; }

.r-pb-14 {
  padding-bottom: 14px; }

.r-pl-14 {
  padding-left: 14px; }

.r-pd-14 {
  padding: 14px; }

.r-pd-lr-14 {
  padding-left: 14px;
  padding-right: 14px; }

.r-pd-tb-14 {
  padding-top: 14px;
  padding-bottom: 14px; }

.r-pt-15 {
  padding-top: 15px; }

.r-pr-15 {
  padding-right: 15px; }

.r-pb-15 {
  padding-bottom: 15px; }

.r-pl-15 {
  padding-left: 15px; }

.r-pd-15 {
  padding: 15px; }

.r-pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px; }

.r-pd-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.r-pt-16 {
  padding-top: 16px; }

.r-pr-16 {
  padding-right: 16px; }

.r-pb-16 {
  padding-bottom: 16px; }

.r-pl-16 {
  padding-left: 16px; }

.r-pd-16 {
  padding: 16px; }

.r-pd-lr-16 {
  padding-left: 16px;
  padding-right: 16px; }

.r-pd-tb-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.r-pt-18 {
  padding-top: 18px; }

.r-pr-18 {
  padding-right: 18px; }

.r-pb-18 {
  padding-bottom: 18px; }

.r-pl-18 {
  padding-left: 18px; }

.r-pd-18 {
  padding: 18px; }

.r-pd-lr-18 {
  padding-left: 18px;
  padding-right: 18px; }

.r-pd-tb-18 {
  padding-top: 18px;
  padding-bottom: 18px; }

.r-pt-20 {
  padding-top: 20px; }

.r-pr-20 {
  padding-right: 20px; }

.r-pb-20 {
  padding-bottom: 20px; }

.r-pl-20 {
  padding-left: 20px; }

.r-pd-20 {
  padding: 20px; }

.r-pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px; }

.r-pd-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.r-pt-22 {
  padding-top: 22px; }

.r-pr-22 {
  padding-right: 22px; }

.r-pb-22 {
  padding-bottom: 22px; }

.r-pl-22 {
  padding-left: 22px; }

.r-pd-22 {
  padding: 22px; }

.r-pd-lr-22 {
  padding-left: 22px;
  padding-right: 22px; }

.r-pd-tb-22 {
  padding-top: 22px;
  padding-bottom: 22px; }

.r-pt-24 {
  padding-top: 24px; }

.r-pr-24 {
  padding-right: 24px; }

.r-pb-24 {
  padding-bottom: 24px; }

.r-pl-24 {
  padding-left: 24px; }

.r-pd-24 {
  padding: 24px; }

.r-pd-lr-24 {
  padding-left: 24px;
  padding-right: 24px; }

.r-pd-tb-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.r-pt-26 {
  padding-top: 26px; }

.r-pr-26 {
  padding-right: 26px; }

.r-pb-26 {
  padding-bottom: 26px; }

.r-pl-26 {
  padding-left: 26px; }

.r-pd-26 {
  padding: 26px; }

.r-pd-lr-26 {
  padding-left: 26px;
  padding-right: 26px; }

.r-pd-tb-26 {
  padding-top: 26px;
  padding-bottom: 26px; }

.r-pt-28 {
  padding-top: 28px; }

.r-pr-28 {
  padding-right: 28px; }

.r-pb-28 {
  padding-bottom: 28px; }

.r-pl-28 {
  padding-left: 28px; }

.r-pd-28 {
  padding: 28px; }

.r-pd-lr-28 {
  padding-left: 28px;
  padding-right: 28px; }

.r-pd-tb-28 {
  padding-top: 28px;
  padding-bottom: 28px; }

.r-pt-30 {
  padding-top: 30px; }

.r-pr-30 {
  padding-right: 30px; }

.r-pb-30 {
  padding-bottom: 30px; }

.r-pl-30 {
  padding-left: 30px; }

.r-pd-30 {
  padding: 30px; }

.r-pd-lr-30 {
  padding-left: 30px;
  padding-right: 30px; }

.r-pd-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.r-pt-32 {
  padding-top: 32px; }

.r-pr-32 {
  padding-right: 32px; }

.r-pb-32 {
  padding-bottom: 32px; }

.r-pl-32 {
  padding-left: 32px; }

.r-pd-32 {
  padding: 32px; }

.r-pd-lr-32 {
  padding-left: 32px;
  padding-right: 32px; }

.r-pd-tb-32 {
  padding-top: 32px;
  padding-bottom: 32px; }

.r-pt-36 {
  padding-top: 36px; }

.r-pr-36 {
  padding-right: 36px; }

.r-pb-36 {
  padding-bottom: 36px; }

.r-pl-36 {
  padding-left: 36px; }

.r-pd-36 {
  padding: 36px; }

.r-pd-lr-36 {
  padding-left: 36px;
  padding-right: 36px; }

.r-pd-tb-36 {
  padding-top: 36px;
  padding-bottom: 36px; }

.r-pt-40 {
  padding-top: 40px; }

.r-pr-40 {
  padding-right: 40px; }

.r-pb-40 {
  padding-bottom: 40px; }

.r-pl-40 {
  padding-left: 40px; }

.r-pd-40 {
  padding: 40px; }

.r-pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px; }

.r-pd-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.r-pt-48 {
  padding-top: 48px; }

.r-pr-48 {
  padding-right: 48px; }

.r-pb-48 {
  padding-bottom: 48px; }

.r-pl-48 {
  padding-left: 48px; }

.r-pd-48 {
  padding: 48px; }

.r-pd-lr-48 {
  padding-left: 48px;
  padding-right: 48px; }

.r-pd-tb-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.r-br-0 {
  border-radius: 0px; }

.r-br-2 {
  border-radius: 2px; }

.r-br-4 {
  border-radius: 4px; }

.r-br-6 {
  border-radius: 6px; }

.r-br-8 {
  border-radius: 8px; }

.r-br-10 {
  border-radius: 10px; }

.r-br-12 {
  border-radius: 12px; }

.r-br-16 {
  border-radius: 16px; }

.r-w-full {
  width: 100%; }

.r-h-full {
  height: 100%; }

.r-ta-c {
  text-align: center; }

.r-ta-l {
  text-align: left; }

.r-ta-r {
  text-align: right; }

.r-f-l {
  float: left; }

.r-f-r {
  float: right; }

.r-show {
  display: block; }

.r-hide {
  display: none; }

.r-block {
  display: block; }

.r-hidden {
  overflow: hidden; }

.r-fixed {
  position: fixed; }

.r-relative {
  position: relative; }

.r-absolute {
  position: absolute; }

.r-pointer {
  cursor: pointer !important; }

.r-no-select {
  user-select: none; }

.r-bold {
  font-weight: bold; }

.r-cicle {
  border-radius: 50%; }

.r-clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0; }

.r-oneline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.r-twoline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden; }

.r-hairline--top {
  position: relative; }
  .r-hairline--top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e8e8e8;
    transform: scaleY(0.5);
    transform-origin: left top;
    box-sizing: border-box;
    pointer-events: none; }

.r-hairline--bottom {
  position: relative; }
  .r-hairline--bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #e8e8e8;
    transform: scaleY(0.5);
    transform-origin: left bottom;
    box-sizing: border-box;
    pointer-events: none; }

.r-hairline--left {
  position: relative; }
  .r-hairline--left::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    border-left: 1px solid #e8e8e8;
    transform: scaleX(0.5);
    transform-origin: left bottom;
    box-sizing: border-box;
    pointer-events: none; }

.r-hairline--right {
  position: relative; }
  .r-hairline--right::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 1px solid #e8e8e8;
    transform: scaleX(0.5);
    transform-origin: left bottom;
    box-sizing: border-box;
    pointer-events: none; }

.r-img-30 {
  width: 30px;
  height: 30px; }

.r-imgc-30 {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.r-img-32 {
  width: 32px;
  height: 32px; }

.r-imgc-32 {
  width: 32px;
  height: 32px;
  border-radius: 50%; }

.r-img-40 {
  width: 40px;
  height: 40px; }

.r-imgc-40 {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.r-img-48 {
  width: 48px;
  height: 48px; }

.r-imgc-48 {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.r-img-56 {
  width: 56px;
  height: 56px; }

.r-imgc-56 {
  width: 56px;
  height: 56px;
  border-radius: 50%; }

.r-img-64 {
  width: 64px;
  height: 64px; }

.r-imgc-64 {
  width: 64px;
  height: 64px;
  border-radius: 50%; }

.r-img-78 {
  width: 78px;
  height: 78px; }

.r-imgc-78 {
  width: 78px;
  height: 78px;
  border-radius: 50%; }
